<h4>Quel patient voulez-vous renseigner</h4>
<div class="small-6 large-6 columns">
  {{#each}}
    {{#link-to 'patient' id class="button round expand"}}{{patient_name}}{{/link-to}}
  {{/each}}
  {{#link-to 'patients.new' class="button round expand success"}}Intégrer un nouveau patient{{/link-to}}
</div>
