<h4>Veuillez compléter les informations suivantes pour {{patient_name}}:</h4>
<div class="small-6 large-6 columns">
  <form {{action "confirm" on="submit"}}>
    {{partial "components/form"}}
    <div class="row">
      <div class="large-12 small-6 columns">
        <button type="submit" class="button expand round">Confirmer</button>
        {{#link-to 'patients' class="button round alert expand"}}Annuler{{/link-to}}
      </div>
    </div>
  </form>
</div>
