<h3>{{patient_name}} :</h3>
<h4>Veuillez compléter les informations suivantes :</h4>
<div class="small-6 large-6 columns">
  <form>
    {{partial "categories"}}
    <div class="row">
      <div class="large-12 small-6 columns">
        <button {{action "confirm"}} class="button expand round">Confirmer</button>
        {{#link-to 'patients' class="button round alert expand"}}Cancel{{/link-to}}
      </div>
    </div>
  </form>
</div>
